*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    
}

button{
    background-image: radial-gradient( circle 331px at 1.4% 52.9%,  rgba(255,236,2,1) 0%, rgba(255,223,2,1) 33.6%, rgba(255,187,29,1) 61%, rgba(255,175,7,1) 100.7% ); ;
    width: 90px;
    height: 40px;
    margin-bottom:25px ;
    border-radius: 5px;
}
#dogimgCont{
    border: 2px solid rgb(255, 255, 255);
    max-width: 90vw;
    overflow: hidden;
    max-height: 600px;
    justify-content: center;
    align-items: center;
    border-radius: 8px
}
